<div class="banner">
  <h1>The Boardgame Project</h1>
  <h2>This is an amazing board game project, come <%= link_to "join us", new_user_registration_path %></h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error temporibus atque recusandae fuga labore consectetur reiciendis corrupti facilis consequatur, dignissimos qui, ducimus minus, aut est nihil modi! Magnam, totam neque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur veritatis possimus ipsam dicta. Exercitationem adipisci quidem optio voluptatibus consectetur corrupti quas, cumque eos vero, ex odio neque veniam quaerat?</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error temporibus atque recusandae fuga labore consectetur reiciendis corrupti facilis consequatur, dignissimos qui, ducimus minus, aut est nihil modi! Magnam, totam neque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur veritatis possimus ipsam dicta. Exercitationem adipisci quidem optio voluptatibus consectetur corrupti quas, cumque eos vero, ex odio neque veniam quaerat?</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error temporibus atque recusandae fuga labore consectetur reiciendis corrupti facilis consequatur, dignissimos qui, ducimus minus, aut est nihil modi! Magnam, totam neque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur veritatis possimus ipsam dicta. Exercitationem adipisci quidem optio voluptatibus consectetur corrupti quas, cumque eos vero, ex odio neque veniam quaerat?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error temporibus atque recusandae fuga labore consectetur reiciendis corrupti facilis consequatur, dignissimos qui, ducimus minus, aut est nihil modi! Magnam, totam neque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur veritatis possimus ipsam dicta. Exercitationem adipisci quidem optio voluptatibus consectetur corrupti quas, cumque eos vero, ex odio neque veniam quaerat?</p>
  <a>link signup </a>
</div>
