<h1>Editing boardgame</h1>

<%= render "form", boardgame: @boardgame %>

<br>

<div>
  <%= link_to "Show this boardgame", @boardgame %> |
  <%= link_to "Back to boardgames", boardgames_path %>
</div>
